# Byte-compiled / cache
__pycache__/
*.py[cod]
*.so

# Jupyter
.ipynb_checkpoints

# Virtual envs
env/
.venv/
venv/
ENV/
*.egg-info/

# Data + models
data/
datasets/
*.csv
*.tsv
*.json
*.xlsx
*.zip
*.tar
*.gz

# ML outputs
ckpt/
checkpoints/
models/
runs/
logs/
*.pth
*.pt
*.h5

# System files
.DS_Store
Thumbs.db
